@use "../core/variables" as vars;

.banner div {
    display: none;
}

.banner {
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/12.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.776);
    background-blend-mode: overlay;
}

.banner h2 {
    color: vars.$second-color;
    font-size: 1.8rem;
    font-weight: 500;
}

.under-banner {
    display: none;
}


@media (min-width: 768px) {

    .banner-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .banner {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        padding: 10rem;
        // transform: scale(0.8);
        width: 75%;
        position: absolute;
        // left: 50%;
        // transform: translate (-50%);
        background-position: center -10px;
        height: 10vh;
    }

    .banner h2 {
        font-size: 2.3rem;
    }

    .banner div {
        display: block;
        background-color: vars.$main-color;
        color: var(--second-color);
        padding-block: 1rem;
        padding-inline: 1.5rem;
    }

    .under-banner {
        display: block;
        overflow: hidden;
        margin-top: 9rem;
        position: relative;
        bottom: -10px;
        z-index: -1;
    }

    .under-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}