@use "../core/variables" as vars;

.footer {
    background-color: vars.$third-color;
    padding: 30px;
    font-family: "Roboto", serif;
  }
  .adadevfooter {
    color: vars.$main-color;
  }
  .listfooter {
    display: none;
  }

@media (min-width: 768px) {
  .footer {
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .listfooter {
    display: flex;
    color: vars.$second-color;
    gap: 40px;
    font-weight: 300;
    font-size: 13px;
  }

}