@use "../core/variables" as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: vars.$main-color;
  background-color: vars.$second-color;
  padding: 30px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: none;
}

.contact {
  display: none;
}

.title {
  display: none;
}

@media (min-width: 768px) {
  .menu-bars {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: vars.$third-color;
    font-weight: 500;
  }

  .nav-list li:first-child {
    color: var(--main-color);
  }

  .contact {
    display: block;
    color: vars.$second-color;
    background-color: vars.$main-color;
    padding: 12px 24px;
    letter-spacing: -0.8px;
    transition: transform 0.3s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  .contact i {
    display: inline;
    margin-left: 5px;
  }
}