.hero {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.explore-services-hero {
  background-color: var(--main-color);
  color: var(--second-color);
  text-align: center;
  padding: 20px;
}
