.hero {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.explore-services-hero {
  background-color: var(--main-color);
  color: var(--second-color);
  text-align: center;
  padding: 20px;
}
@media (min-width: 768px) {
  .title {
    display: block;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -3.41px;
  }

  .adadev-color {
    color: var(--main-color);
  }

  .hero {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 150px;
  }
}