@use "../core/variables" as vars;

.projects {
  background-color: vars.$main-color;
  display: flex;
  padding: 50px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-projects {
  font-size: 24px;
  margin-bottom: 30px;
  display: none;
}

.subtitle-projects {
  text-transform: uppercase;
  margin-right: 100px;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: vars.$second-color;
}

.article-4-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1200%;
}

.imagenes {
  width: auto;
}

.imagenes img {
  width: 100%;
}

.container-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.container-branding p:first-child {
  color: vars.$second-color;
  font-size: 22px;
  font-weight: 600;
}

.container-branding p:last-child {
  color: vars.$second-color;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
}

.explore-services-projects {
  border: 1px solid vars.$second-color;
  padding: 20px;
  color: vars.$second-color;
}

@media (min-width: 768px) {
  .subtitle-projects {
    margin-right: auto;
    margin-left: 60px;

  }

  .title-projects {
    display: block;
    font-size: 28px;
    font-weight: 350;
    color: vars.$second-color;
    margin-left: 60px;
  }

  .articles-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .article-4-proyectos {
    width: 50%;

  }
  .container-branding {
    justify-content: space-around;
  }
}