<section class="interest">
  <div class="container-form">
    <h1 class="interest-title">¿Te interesa? Háblanos</h1>
    <form
      class="interest-form"
      action="https://formspree.io/f/mdkawqwa"
      method="POST"
    >
      <input type="text" name="name" placeholder="Nombre" />
      <input type="email" name="email" placeholder="Email" />
      <input type="text" name="comment" placeholder="Cuéntanos tu proyecto" />
      <button>Enviar</button>
    </form>
  </div>
  <div class="container-img">
    <img src="./images/mapa.jpg" alt="Mapa con la ubicación de Ada Dev" />
  </div>
</section>
