<header class="header">
  <h1 class="logo">AdaDev</h1>
  <div class="menu-bars"><i class="fa-solid fa-bars"></i></div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="item"><a href="../index.html">Home</a></li>
      <li class="item"><a href="">Nosotras</a></li>
      <li class="item"><a href="">Blog</a></li>
      <li class="item"><a href="../index.html#servicios">Servicios</a></li>
    </ul>
  </nav>
  <div class="contact">
    <a href="../contact.html">Contáctanos <i class="fa-solid fa-arrow-right"></i></a>
  </div>
</header>
