<section class="news">
    <h2 class="title-news">Noticias</h2>
    <section class="article-news">
      <article class="article-3-news">
        <div class="div-img-news">
          <img src="./images/8.png" alt="Imagen hombre" />
        </div>
        <p>Otro día, otra locura de Elon Musk… y nadie se sorprende.</p>
      </article>
      <article class="article-3-news">
        <div class="div-img-news">
          <img src="./images/6.png" alt="Imagen mujer" />
        </div>
        <p>Cada vez más mujeres se suman al mundo tecnológico.</p>
      </article>
      <article class="article-3-news">
        <div class="div-img-news">
          <img src="./images/7.png" alt="Imagen cohete" />
        </div>

        <p>La exploración espacial sigue rompiendo límites.</p>
      </article>
    </section>
    <div class="explore-news">
      <a href="">Explora noticias</a>
    </div>
  </section>
