<section class="projects">
  <h6 class="subtitle-projects">Proyectos</h6>
  <h2 class="title-projects">
    Contamos con una larga trayectoria en el mundo digital. Estos son algunos de
    nuestros proyectos más conocidos.
  </h2>
  <section class="articles-projects">
    <article class="article-4-proyectos">
      <div class="imagenes">
        <img src="./images/10.png" alt="Imagen BLVCK" />
      </div>

      <div class="container-branding">
        <p class="text-image-left">BLVCK</p>
        <p>Branding</p>
      </div>
    </article>
    <article class="article-4-proyectos">
      <div class="imagenes">
        <img src="./images/5.png" alt="Imagen CREAM" />
      </div>

      <div class="container-branding">
        <p class="text-image-left">CREAM</p>
        <p>Branding</p>
      </div>
    </article>
    <article class="article-4-proyectos">
      <div class="imagenes">
        <img src="./images/11.png" alt="Imagen FREDI" />
      </div>

      <div class="container-branding">
        <p class="text-image-left">FREDI</p>
        <p>Branding</p>
      </div>
    </article>
    <article class="article-4-proyectos">
      <div class="imagenes">
        <img src="./images/9.png" alt="Imagen APOLLO" />
      </div>

      <div class="container-branding">
        <p class="text-image-left">APOLLO</p>
        <p>Branding</p>
      </div>
    </article>
  </section>
  <div class="explore-services-projects">
    <a href="#servicios">Explora nuestros servicios</a>
  </div>
</section>
