<section class="services">
  <h2 class="title-services">Tenemos todo lo que necesitas</h2>
  <section class="articles-services">
    <article class="article-tres-logos">
      <div class="programacion-img">
        <img src="./images/2.png" alt="Logo programación" />
      </div>
      <h3>Programación</h3>
      <p class="text-services">
        Trabaja con las mejores expertas del sector y las últimas tecnologías.
      </p>
      <div class="read-more">
        <a href="">Leer más</a>
      </div>
    </article>
    <article class="article-tres-logos">
      <div class="marketing-img">
        <img src="./images/3.png" alt="Logo marketing" />
      </div>
      <h3>Marketing</h3>
      <p class="text-services">
        Consigue que tu negocio sea visible en todo el mundo.
      </p>
      <div class="read-more">
        <a href="">Leer más</a>
      </div>
    </article>
    <article class="article-tres-logos">
      <div class="design-img">
        <img src="./images/1.png" alt="Logo diseño" />
      </div>
      <h3>Diseño</h3>
      <p class="text-services">
        Dale forma a tu idea con los diseños más atractivos.
      </p>
      <div class="read-more">
        <a href="">Leer más</a>
      </div>
    </article>
  </section>
</section>
