:root {
  --main-color: #8447e9;
  --second-color: #ffffff;
  --third-color: #0f0f0f;
  --main-font: "Montserrat";
}

.body {
  font-family: var(--main-font);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", serif;
  color: var(--main-color);
  background-color: var(--second-color);
  padding: 30px 40px;
}

.nav {
  display: none;
}

.contact {
  display: none;
}

.title {
  display: none;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.explore-services-hero {
  background-color: var(--main-color);
  color: var(--second-color);
  text-align: center;
  padding: 20px;
}

.footer {
  background-color: var(--third-color);
  padding: 30px;
  font-family: "Roboto", serif;
}
.adadevfooter {
  color: var(--main-color);
}
.listfooter {
  display: none;
}
.projects {
  background-color: #8447e9
}