:root {
  --main-color: #8447e9;
  --second-color: #ffffff;
  --third-color: #0f0f0f;
  --main-font: "Montserrat";
}

.body {
  font-family: var(--main-font);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", serif;
  color: var(--main-color);
  background-color: var(--second-color);
  padding: 30px 40px;
}

.nav {
  display: none;
}

.contact {
  display: none;
}

.footer {
  background-color: var(--third-color);
  padding: 30px;
  font-family: "Roboto", serif;
}
.adadevfooter {
  color: var(--main-color);
}
.listfooter {
  display: none;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}

.title-news {
  font-size: 1rem;
}

.div-img-news {
  overflow: hidden;
}

.div-img-news img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.article-news p {
  width: 100%;
  margin-block: 1.5rem;
  font-size: 0.71rem;
}

.explore-news {
  text-align: center;
}
.explore-news a {
  border: solid 1.5px var(--main-color);
  color: var(--main-color);
  padding-block: 0.6rem;
  padding-left: 1.3rem;
  padding-right: 4rem;
  font-size: 0.75rem ;
}


