@media (min-width: 768px) {
  .menu-bars {
    display: none;
  }

  .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: var(--third-color);
    font-weight: 500;
  }

  .nav-list li:first-child {
    color: var(--main-color);
  }

  .contact {
    display: block;
    color: var(--second-color);
    background-color: var(--main-color);
    padding: 12px 24px;
    letter-spacing: -0.8px;
  }

  .contact i {
    display: inline;
    margin-left: 5px;
  }
}
